body {padding: auto; 
    background-image: url(https://s3.envato.com/files/266441969/17_IMG_3082-3.jpg);}
div {padding: auto; 
    border-style: solid; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 100px; 
    margin-right: 100px;}
* {color: white; 
    background-color: rgb(179, 175, 158);}
#description {text-align: center;}
.title {text-align: center; 
    width:400px; height: auto; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;}
.text {padding: auto; 
    margin-left: 50px; 
    margin-right: 50px;} 
